body 
	{
		padding-top 		: 70px;
		padding-bottom 		: 70px;
	}


.alert-info-news 
	{
		background 		: #f3fbff;
		border-style		: none;

	}

.alert-danger-news 
	{
		background 		: #fff7f7;
		border-style		: none;
		color			: #a94442;

	}

.news-author-danger
	{
		color			: #a94442;
		font-size 		: 85%;
	}

.news-author-info
	{
  		color			: #31708f;
		font-size 		: 85%;
	}

.btn-minim
	{
		border 			: none;
		margin 			: -4px 4px -2px -5px;
		padding-left 		: 6px;
		width 			: 18px;
	}

.badge-success 
	{
  		background-color	: #468847 ! important;
		font-size		: 9px ! important;
		color 			: white ! important;
		margin-top 		: -2px;
	}

.panel-title a
	{
		text-decoration		: none;
	}

.navbar-brand 
	{
		color 			: white ! important;
	}

.navbar-brand-logo
	{
		float			: left;
		max-width		: 100px; 
		margin-top		: -4px;
	}

.news-footer
	{
		padding-top 		: 10px;
		color 			: white;
		text-align 		: center;
	}
